<header>
        <nav class="navbar_asegurados navbar navbar-expand-lg">
            <div class="position-relative">
                <button class="navbar-toggler navbar-toggler_asegurados" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <div class="icon-nav-mobile" id="state-icon">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                  </div>
        </button>
                <a class="navbar-brand navbar-brand_asegurados" href="#"><img src="assets/img/logo.svg" alt=""></a>
            </div>
            <div class="collapse navbar-collapse navbar-collapse_asegurado" id="navbarSupportedContent">
                <ul class="navbar-nav navbar-nav_asegurado mr-auto">
                    <li class="nav-item nav-item_asegurados dropdown">
                        <a class="nav-link nav-link_asegurado dropdown-toggle change-chevron" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Acerca de nosotros<i class="fas fa-chevron-up"></i></a>
                        <div class="dropdown-menu dropdown-menu_asegurado" aria-labelledby="navbarDropdown1">
                            <div class="drowpdowm_component_asegurado">
                                <a class="dropdown-item dropdown-item_as" href="">Misión</a>
                                <a class="dropdown-item dropdown-item_as" href="">Visión</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item nav-item_asegurados dropdown">
                        <a class="nav-link nav-link_asegurado dropdown-toggle change-chevron" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Descarga tu póliza<i class="fas fa-chevron-up"></i></a>
                        <div class="dropdown-menu dropdown-menu_asegurado" aria-labelledby="navbarDropdown2">
                            <div class="drowpdowm_component_asegurado">
                                <a class="dropdown-item dropdown-item_as" href="">Misión</a>
                                <a class="dropdown-item dropdown-item_as" href="">Visión</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item nav-item_asegurados">
                        <a class="nav-link nav-link_asegurado change-chevron" href="pdf/pdf-prueba.pdf" download="pdf-prueba">Términos y condiciones</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
