<footer>
  <div class="footer-part-one_as">
    <div class="row no-gutters justify-content-center">
      <div class="col-6">
          <ul>
            <li><a href="#">Acerca de nosotros</a></li>
            <li><a href="#"> Descarga tu póliza</a></li>
            <li><a href="pdf/pdf-prueba.pdf" download="pdf-prueba"> Términos y condiciones</a></li>
          </ul>
      </div>
      <div class="col-6">
        <div class="social-content_as">
              <p>Síguenos en nuestras redes sociales</p>
              <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
              <a href="#" target="_blank"><i class="fab fa-youtube"></i></a>
              <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
  <div class="footer-part-two_as">
    <p>Copyright 2020</p>
  </div>
</footer>
